HeaderFilterRegex: "include/msgpack_rpc/|tests/"
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
    -clang-analyzer-optin.performance.Padding,
  cppcoreguidelines-*,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-use-default-member-init,
  google-*,
    -google-runtime-references,
    -google-readability-todo,
  performance-*,
  portability-*,
  readability-*,
    readability-identifier-naming,
    -readability-identifier-length,
    -readability-function-cognitive-complexity,
    -readability-suspicious-call-argument,
    -readability-avoid-unconditional-preprocessor-if,
  modernize-*,
    -modernize-return-braced-init-list,
    -modernize-use-trailing-return-type,
    -modernize-use-default-member-init,
  hicpp-*,
    -hicpp-no-array-decay,
  cert-*,
    -cert-err58-cpp,
  bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-unchecked-optional-access,
    -bugprone-exception-escape,
  concurrency-*,
  boost-*,
  openmp-*,

# Ignored checks:
#
# - google-runtime-references is a Google-specific rule, and forces use of raw pointers.
# - clang-analyzer-optin.performance.Padding is hard to be fixed.
# - readability-function-cognitive-complexity is hard to be fixed in tests.
# - cppcoreguidelines-owning-memory forces to use an external library.
# - cppcoreguidelines-pro-bounds-constant-array-index forces to use an external library.
# - bugprone-easily-swappable-parameters, readability-suspicious-call-argument is difficult to fix.
# - cert-err58-cpp produces warnings in all tests due to Catch2 library.
# - cppcoreguidelines-avoid-non-const-global-variables produces warnings in all tests due to Catch2 library.
# - readability-identifier-length prevent traditional codes.
# - cppcoreguidelines-pro-type-union-access generates warnings for msgpack library.
# - cppcoreguidelines-pro-bounds-pointer-arithmetic generates warnings for msgpack library.
# - bugprone-unchecked-optional-access generates false positives.
# - cppcoreguidelines-macro-usage generates false positives.
# - cppcoreguidelines-pro-bounds-array-to-pointer-decay and hicpp-no-array-decay force use of an external library.
# - bugprone-exception-escape is not generating meaningful warnings.
# - readability-avoid-unconditional-preprocessor-if generates warnings to automatically generated files.
# - cppcoreguidelines-avoid-do-while prevents implementation of macros.
# - cppcoreguidelines-use-default-member-init, modernize-use-default-member-init breaks encapsulation.

CheckOptions:
  # Naming Conventions
  # for these parameters of the naming convention,
  # see https://clang.llvm.org/extra/clang-tidy/checks/readability/identifier-naming.html
  readability-identifier-naming.NamespaceCase: lower_case

  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase

  readability-identifier-naming.FunctionCase: lower_case

  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.ProtectedMemberSuffix: _

  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
  readability-identifier-naming.ValueTemplateParameterCase: CamelCase

  # Workaround of https://github.com/llvm/llvm-project/issues/46097.
  readability-identifier-naming.TypeTemplateParameterIgnoredRegexp: expr-type
